<div class="contenedor">

    <div id="productos" class="productos-container">
        <h1>PRODUCTOS</h1>
        <h3>Alquimia del Sur comercializa gran variedad de productos que estan orientados tanto al agua y el petróleo como a la alimentación y cosmética</h3>
        
        <ngb-carousel #carousel 
        [interval]="5000" 
        [pauseOnHover]=true 
        [pauseOnFocus]=true 
        [showNavigationArrows]=false
        style="outline: 0;">
            <ng-template ngbSlide *ngFor="let producto of productos">
                <app-producto
                [icon]=producto.icon
                [titulo]=producto.titulo
                [texto]=producto.texto
                [textAling]=left
                ></app-producto>
            </ng-template>
        </ngb-carousel>
           
    </div>

    <div id="equipos" class="equipos">
        <h1>EQUIPOS</h1>
        <div class="row">                  
            <app-equipo *ngFor="let equipo of equipos" 
            class="col-xl-4 col-lg-6 col-md-12"
            [titulo]= equipo.titulo
            [descripcion]= equipo.descripcion
            ></app-equipo>  
        </div>
    </div>

    <div style="background-color: #FBB040; padding: 50px 40px; margin-bottom: 100px;">
     <owl-carousel-o [options]="customOptions">
        <ng-container style="align-items: center;">
            <ng-template carouselSlide><img class="marca" src="../../../assets/imagenes/empresas/Aysa.png"></ng-template> 
            <ng-template carouselSlide><img class="marca" src="../../../assets/imagenes/empresas/ABSA.png"></ng-template>
            <ng-template carouselSlide><img class="marca" src="../../../assets/imagenes/empresas/Axion.png"></ng-template>
            <ng-template carouselSlide><img class="marca" src="../../../assets/imagenes/empresas/bakerHughes.png"></ng-template>
            <ng-template carouselSlide><img class="marca" src="../../../assets/imagenes/empresas/Championx.png"></ng-template>
            <ng-template carouselSlide><img class="marca" src="../../../assets/imagenes/empresas/Comarsa.png"></ng-template>
            <ng-template carouselSlide><img class="marca" src="../../../assets/imagenes/empresas/CrestaRoja.png"></ng-template>
            <ng-template carouselSlide><img class="marca" src="../../../assets/imagenes/empresas/Pepsi.png"></ng-template>
            <ng-template carouselSlide><img class="marca" src="../../../assets/imagenes/empresas/Oleomud.png"></ng-template>
            <ng-template carouselSlide><img class="marca" src="../../../assets/imagenes/empresas/Orazul.png"></ng-template>
            <ng-template carouselSlide><img class="marca" src="../../../assets/imagenes/empresas/Quilmes.png"></ng-template>
            <ng-template carouselSlide><img class="marca" src="../../../assets/imagenes/empresas/Quinpe.png"></ng-template>
            <ng-template carouselSlide><img class="marca" src="../../../assets/imagenes/empresas/SanAntonio.png"></ng-template>
            <ng-template carouselSlide><img class="marca" src="../../../assets/imagenes/empresas/Sadesa.png"></ng-template>
            <ng-template carouselSlide><img class="marca" src="../../../assets/imagenes/empresas/Schlumberger.png"></ng-template>
            <ng-template carouselSlide><img class="marca" src="../../../assets/imagenes/empresas/SIC.png"></ng-template> 
            <ng-template carouselSlide><img class="marca" src="../../../assets/imagenes/empresas/YPF.png"></ng-template>
        </ng-container> 
      </owl-carousel-o>
    </div>

    <div id="servicios" class="servicios">
        <h1>SERVICIOS</h1>
        <div class="row">
            <div class="servicio row col-lg-6 col-md-12">
                <div class="col-md-4 col-sm-12 icon-container">
                    <i class="fas fa-users"></i>
                </div>
                <div class="col-md-8 col-sm-12" style="text-align: left;">
                    <span>ASESORAMIENTO</span>
                    <p>Ofrecemos de acuerdo con las necesidades de sus clientes una solución a una problemática que este relacionada con el tipo de tratamiento de sus aguas ya se trate de la parte industrial o de sus efluentes.</p>
                    <!--<span class="read-more">READ MORE ...</span>-->
                </div>
            </div>
            <div class="servicio row col-lg-6 col-md-12">
                <div class="col-md-4 col-sm-12 icon-container">
                    <i class="fas fa-chalkboard-teacher"></i>
                </div>
                <div class="col-md-8 col-sm-12" style="text-align: left;">
                    <span>CURSOS EN LÍNEA O EN COMPAÑÍA</span>
                    <p>Ofrecemos de acuerdo con las necesidades de sus clientes una solución a una problemática que este relacionada con el tipo de tratamiento de sus aguas ya se trate de la parte industrial o de sus efluentes.</p>
                    <!--<span class="read-more">READ MORE ...</span>-->
                </div>
            </div>        
            <div class="servicio row col-lg-6 col-md-12">
                <div class="col-md-4 col-sm-12 icon-container">
                    <i class="fas fa-folder-open"></i>
                </div>
                <div class="col-md-8 col-sm-12" style="text-align: left;">
                    <span>PROYECTO Y DIRECCIÓN DE OBRAS</span>
                    <p>Ofrecemos el diseño de plantas compactas y de gran envergadura de acuerdo con la necesidad de cada cliente.</p>
                    <!--<span class="read-more">READ MORE ...</span>-->
                </div>
            </div>       
            <div class="servicio row col-lg-6 col-md-12">
                <div class="col-md-4 col-sm-12 icon-container">
                    <i class="fas fa-book"></i>
                </div>
                <div class="col-md-8 col-sm-12" style="text-align: left;">
                    <span>OPERACIÓN, CONTROL, ANÁLISIS Y ELABORACIÓN DE INFORMES DE PLANTAS</span>
                    <p>Ofrecemos de acuerdo con los requerimientos que solicite el cliente diversas propuestas. Contarse con nosotros para coonsultar antes de invertir en este tipo de servicios</p>
                    <!--<span class="read-more">READ MORE ...</span>-->
                </div>
            </div>
        </div>
    </div>
</div>
