<div class="titulo">
    <i class="fas fa-tint" style="padding-right: 5px;"></i>
    <h1 style="text-align: center;">NUESTROS PRODUCTOS PARA EL AGUA</h1>
</div>

<div (click)="toggleNav()" class="algo">
    <h1 class="menu-toggle">Categorías</h1>
    <i class="fa fa-bars" style="padding-right: 5px;"></i>
</div>

<div class="contenedor">
    <nav [@navInOut] *ngIf="hideNav">
        <ul class="categorias">
            <li 
            *ngFor="let categoria of categorias" 
            (click)="mostrarProductos(categoria)" 
            class="sub-item"
            [ngClass]="{'active': categoriaSeleccionada?.nombre === categoria.nombre}">
            {{ categoria.nombre }}
            </li>
        </ul>
    </nav>
    <div class="informacion" *ngIf=categoriaSeleccionada [@slideInOut]="categoryChange">
        <div class="categoria negrita">{{ categoriaSeleccionada.nombre }}</div>
        <div *ngFor="let grupo of categoriaSeleccionada.grupos">
            <div *ngIf=grupo.productos>

                <div style="display: flex; align-items: center;">
                    <div class="producto">{{ grupo.nombre }}</div>
                    <i *ngIf=!grupo.openClose (click)="openClose(grupo)" class="fas fa-chevron-down arrow"></i>
                    <i *ngIf=grupo.openClose (click)="openClose(grupo)" class="fas fa-chevron-up arrow"></i>
                </div>

                
                <div *ngIf=grupo.openClose>
                    <div><span class="negrita">Aplicaciones: </span></div>
                    <div style="padding: 5px 0px 5px 20px;">{{ grupo.aplicacion }}</div>
                    <div *ngFor="let producto of grupo.productos" style="padding-left: 40px;">
                        <app-detalle-producto
                        [nombre] = "'•	' + producto.nombre"
                        [aplicacion] = producto.aplicacion
                        [presentacion] = producto.presentacion
                        ></app-detalle-producto>
                    </div>
                </div>

            </div>
            
            <div *ngIf=!grupo.productos>
                <app-detalle-producto
                [nombre] = grupo.nombre
                [aplicacion] = grupo.aplicacion
                [presentacion] = grupo.presentacion
                ></app-detalle-producto>
            </div>

        </div>
        <div class="detalle" *ngIf=categoriaSeleccionada.descripcion>
            <div style="padding-top: 10px; padding-bottom: 10px; white-space: pre-line;">{{ categoriaSeleccionada.descripcion }}</div>
            <div *ngFor="let lista of categoriaSeleccionada.lista">
                <div style="padding: 5px 0px 5px 20px;">{{ lista }}</div>
            </div>
        </div>
    </div>
    <div class="informacion flex-center" *ngIf=!categoriaSeleccionada>
        <div style="text-align: center;">
            <img src="assets/imagenes/select-product.png" alt="" style="width: 150px; height: 180px; opacity: 0.5;" >
            <div class="negrita" style="text-align: center; font-size: 20px; opacity: 0.5;">Seleccione alguna categoría</div>
        </div>
    </div>
</div>