footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;

    div {
        margin-bottom: 4px;

        a {
            text-decoration: none;
            color: #fff;
        }
    }

    .fa-linkedin-in {
        padding-right: 10px;
    }
}

