<footer class="contacto">
    <div class="item-contacto col-md-4 col-sm-12">
        <img class="imagen" src="assets/imagenes/contacto/mail.png" alt="" width="140px">
        <div class="nombre">MAIL</div>
        <div class="descripcion">marfer09@hotmail.com</div>
    </div>
    <div class="item-contacto col-md-4 col-sm-12">
        <img class="imagen" src="assets/imagenes/contacto/ubicacion.png" alt="" width="70px">
        <div class="nombre">DIRECCIÓN</div>
        <div class="descripcion">Mansilla 150 PB 1ro - (8316) Plottier - Neuquén, Argentina.</div>
    </div>
    <div class="item-contacto col-md-4 col-sm-12">
        <img class="imagen" src="assets/imagenes/contacto/telefono.png" alt="" width="120px">
        <div class="nombre">TELÉFONO</div>
        <div class="descripcion">+54 11 6420 5197</div>
    </div>
</footer>
<footer class="derechos-reservados">
    <div>
        <span style="font-weight: 700;">2021 ALQUIMIA DEL SUR</span>
        <span> - Todos los derechos reservados Marcelo Ferral</span>
    </div>
    <div>
        <i class="fab fa-linkedin-in"></i>
        <span>Matias Garcia - Lara Echague</span>    
    </div>
</footer>