<div class="contenedor">
    <div id="equipos" class="equipos">
        <h1>EQUIPOS</h1>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="equipo">
                    <div class="titulo-equipo-container">
                        <span class="icon"><i class="fas fa-tools"></i></span>
                        <span class="titulo-equipo">TRATAMIENTOS DE EFLUENTES</span>
                    </div>
                    <p>Nuestra especialidad es el tratamiento integral de efluentes industriales para pequeñas, medianas o industrias 
                        Por esta razón, consúltenos antes de Invertir en el tratamiento de este tipo de efluentes.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="equipo">
                    <div class="titulo-equipo-container">
                        <span class="icon"><i class="fas fa-tools"></i></span>
                        <span class="titulo-equipo">PLANTAS POTABILIZADORAS</span>
                    </div>
                    <p>Permiten someter el agua a distintos procesos para que pueda ser consumida por el ser humano sin que presente un riesgo para su salud.
                        Implica, por tanto, el tratamiento de aguas superficiales o subterráneas para obtener agua potable con calidad conforme a lo establecido en el código del estado en el cual se establece la planta, que establece los criterios sanitarios de la calidad del agua de consumo humano. </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="equipo">
                    <div class="titulo-equipo-container">
                        <span class="icon"><i class="fas fa-tools"></i></span>
                        <span class="titulo-equipo">PLANTAS CLOACALES</span>
                    </div>
                    <p>Nuestra especialidad es el tratamiento integral de efluentes cloacales para pequeñas, medianas o grandes comunidades, barrios privados, emprendimientos hoteleros o cabañas, etc. 
                        Por esta razón, consúltenos antes de Invertir en el tratamiento de este tipo de efluentes. </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="equipo">
                    <div class="titulo-equipo-container">
                        <span class="icon"><i class="fas fa-tools"></i></span>
                        <span class="titulo-equipo">EQUIPOS PARA ENERGÍA FOTOVOLTÁICA</span>
                    </div>
                    <p>Estación de carga de vehículos eléctricos nivel 2 universal preparada para cargar dos vehículos simultáneamente. Compatible con todos los vehículos tipo plug-in. Viene equipada con un sistema abierto de procesamiento de pagos sin efectivo.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="equipo">
                    <div class="titulo-equipo-container">
                        <span class="icon"><i class="fas fa-tools"></i></span>
                        <span class="titulo-equipo">FILTROS PRENSAS</span>
                    </div>
                    <p>Son equipos diseñados para la filtración, deshidratación o concentración de semi-sólidos. Estos barros o semi-sólidos pueden provenir del tratamiento de efluentes cloacales, industriales, etc.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="equipo">
                    <div class="titulo-equipo-container">
                        <span class="icon"><i class="fas fa-tools"></i></span>
                        <span class="titulo-equipo">CENTRIFUGAS DECANTER</span>
                    </div>
                    <p>La Decanter suma beneficios a la producción por su operación continua. Son requeridos menos controles y mínima supervisión. Puede reemplazar filtros batch y continuos y a varios métodos de sedimentación estática.
                        Llega a ser una herramienta de separación extremadamente sensible con aplicación en distintas áreas.
                    </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="equipo">
                    <div class="titulo-equipo-container">
                        <span class="icon"><i class="fas fa-tools"></i></span>
                        <span class="titulo-equipo">PLANTAS PARA OSMOSIS INVERSA - DEMI - ABLANDAMIENTO DE AGUA</span>
                    </div>
                    <p>En comparación con las tecnologías de filtración tradicionales que dependen de una pantalla o filtro para eliminar partículas, la ósmosis inversa (OI) es un proceso de separación impulsado por presión que emplea una membrana semipermeable y los principios de filtración de flujo cruzado.</p>
                </div>
            </div>            
        </div>

    </div>

    <div id="productos" class="productos-container">
        <h1 class="col-12">PRODUCTOS</h1>
        <div class="productos row" style="margin: 0;">
            <div class="col-lg-4 col-md-12">
                <i class="fas fa-tint"></i>
                <h2>AGUA</h2>
            </div>
            <div class="col-lg-4 col-md-12">
                <i class="fas fa-utensils"></i>
                <h2>NUTRICIÓN: ALIMENTACIÓN Y COSMÉTICA</h2>
            </div>
            <div class="col-lg-4 col-md-12">
                <i class="fas fa-oil-can"></i>
                <h2>PETRÓLEO</h2>
            </div>
        </div>
    </div>
        
    <div id="servicios" class="servicios">
        <h1>SERVICIOS</h1>

        <div class="row">
            <div class="servicio row col-lg-6 col-md-12">
                <div class="col-md-4 col-sm-12 icon-container">
                    <i class="fas fa-users"></i>
                </div>
                <div class="col-md-8 col-sm-12" style="text-align: left;">
                    <span>ASESORAMIENTO</span>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, veritatis ea nisi numquam nam unde minima, repellat non esse pariatur quasi. Repellendus atque ipsam, quidem laudantium sapiente consequuntur sint! Nobis.</p>
                    <span class="read-more">READ MORE ...</span>
                </div>
            </div>
            <div class="servicio row col-lg-6 col-md-12">
                <div class="col-md-4 col-sm-12 icon-container">
                    <i class="fas fa-chalkboard-teacher"></i>
                </div>
                <div class="col-md-8 col-sm-12" style="text-align: left;">
                    <span>CURSOS EN LÍNEA O EN COMPAÑÍA</span>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, veritatis ea nisi numquam nam unde minima, repellat non esse pariatur quasi. Repellendus atque ipsam, quidem laudantium sapiente consequuntur sint! Nobis.</p>
                    <span class="read-more">READ MORE ...</span>
                </div>
            </div>        
            <div class="servicio row col-lg-6 col-md-12">
                <div class="col-md-4 col-sm-12 icon-container">
                    <i class="fas fa-folder-open"></i>
                </div>
                <div class="col-md-8 col-sm-12" style="text-align: left;">
                    <span>PROYECTO Y DIRECCIÓN DE OBRAS</span>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, veritatis ea nisi numquam nam unde minima, repellat non esse pariatur quasi. Repellendus atque ipsam, quidem laudantium sapiente consequuntur sint! Nobis.</p>
                    <span class="read-more">READ MORE ...</span>
                </div>
            </div>       
            <div class="servicio row col-lg-6 col-md-12">
                <div class="col-md-4 col-sm-12 icon-container">
                    <i class="fas fa-book"></i>
                </div>
                <div class="col-md-8 col-sm-12" style="text-align: left;">
                    <span>OPERACIÓN, CONTROL, ANÁLISIS Y ELABORACIÓN DE INFORMES DE PLANTAS</span>
                    <p>OPERACIÓN, CONTROL, ANÁLISIS Y ELABORACIÓN DE INFORMES DE PLANTAS</p>
                    <span class="read-more">READ MORE ...</span>
                </div>
            </div>
        </div>
    </div>
</div>
