<div class="contenedor">
    <div id="equipos" class="equipos">
        <h1>EQUIPOS</h1>
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="equipo">
                    <div class="titulo-equipo-container">
                        <span class="icon"><i class="fas fa-tools"></i></span>
                        <span class="titulo-equipo">TRATAMIENTOS DE EFLUENTES</span>
                    </div>
                    <p>Plantas para tramientos de efluentes que se usan para ... </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="equipo">
                    <div class="titulo-equipo-container">
                        <span class="icon"><i class="fas fa-tools"></i></span>
                        <span class="titulo-equipo">PLANTAS POTABILIZADORAS</span>
                    </div>
                    <p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="equipo">
                    <div class="titulo-equipo-container">
                        <span class="icon"><i class="fas fa-tools"></i></span>
                        <span class="titulo-equipo">PLANTAS CLOACALES</span>
                    </div>
                    <p>Plantas para tramientos de efluentes que se usan para ... </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="equipo">
                    <div class="titulo-equipo-container">
                        <span class="icon"><i class="fas fa-tools"></i></span>
                        <span class="titulo-equipo">EQUIPOS PARA ENERGÍA FOTOVOLTÁICA</span>
                    </div>
                    <p>Plantas para tramientos de efluentes que se usan para ... </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="equipo">
                    <div class="titulo-equipo-container">
                        <span class="icon"><i class="fas fa-tools"></i></span>
                        <span class="titulo-equipo">FILTROS PRENSAS</span>
                    </div>
                    <p>Plantas para tramientos de efluentes que se usan para ... </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="equipo">
                    <div class="titulo-equipo-container">
                        <span class="icon"><i class="fas fa-tools"></i></span>
                        <span class="titulo-equipo">CENTRIFUGAS DECANTER</span>
                    </div>
                    <p>Plantas para tramientos de efluentes que se usan para ... </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="equipo">
                    <div class="titulo-equipo-container">
                        <span class="icon"><i class="fas fa-tools"></i></span>
                        <span class="titulo-equipo">PLANTAS PARA OSMOSIS INVERSA - DEMI - ABLANDAMIENTO DE AGUA</span>
                    </div>
                    <p>Plantas para tramientos de efluentes que se usan para ... </p>
                </div>
            </div>            
        </div>

    </div>

    <div id="productos" class="productos-container">
        <h1 class="col-12">PRODUCTOS</h1>
        <div class="productos row">
            <div class="col-lg-4 col-md-12">
                <i class="fas fa-tint"></i>
                <h2>AGUA</h2>
            </div>
            <div class="col-lg-4 col-md-12">
                <i class="fas fa-utensils"></i>
                <h2>NUTRICIÓN: ALIMENTACIÓN Y COSMETICA</h2>
            </div>
            <div class="col-lg-4 col-md-12">
                <i class="fas fa-oil-can"></i>
                <h2>PETRÓLEO</h2>
            </div>
        </div>
    </div>
        
    <div id="servicios" class="servicios">
        <h1>SERVICIOS</h1>

        <div class="row">
            <div class="servicio row col-lg-6 col-md-12">
                <div class="col-md-4 col-sm-12 icon-container">
                    <i class="fas fa-users"></i>
                </div>
                <div class="col-md-8 col-sm-12" style="text-align: left;">
                    <span>ASESORAMIENTO</span>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, veritatis ea nisi numquam nam unde minima, repellat non esse pariatur quasi. Repellendus atque ipsam, quidem laudantium sapiente consequuntur sint! Nobis.</p>
                    <span class="read-more">READ MORE ...</span>
                </div>
            </div>
            <div class="servicio row col-lg-6 col-md-12">
                <div class="col-md-4 col-sm-12 icon-container">
                    <i class="fas fa-chalkboard-teacher"></i>
                </div>
                <div class="col-md-8 col-sm-12" style="text-align: left;">
                    <span>CURSOS EN LÍNEA O EN COMPAÑÍA</span>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, veritatis ea nisi numquam nam unde minima, repellat non esse pariatur quasi. Repellendus atque ipsam, quidem laudantium sapiente consequuntur sint! Nobis.</p>
                    <span class="read-more">READ MORE ...</span>
                </div>
            </div>        
            <div class="servicio row col-lg-6 col-md-12">
                <div class="col-md-4 col-sm-12 icon-container">
                    <i class="fas fa-folder-open"></i>
                </div>
                <div class="col-md-8 col-sm-12" style="text-align: left;">
                    <span>PROYECTO Y DIRECCIÓN DE OBRAS</span>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora, veritatis ea nisi numquam nam unde minima, repellat non esse pariatur quasi. Repellendus atque ipsam, quidem laudantium sapiente consequuntur sint! Nobis.</p>
                    <span class="read-more">READ MORE ...</span>
                </div>
            </div>       
            <div class="servicio row col-lg-6 col-md-12">
                <div class="col-md-4 col-sm-12 icon-container">
                    <i class="fas fa-book"></i>
                </div>
                <div class="col-md-8 col-sm-12" style="text-align: left;">
                    <span>OPERACIÓN, CONTROL, ANÁLISIS Y ELABORACIÓN DE INFORMES DE PLANTAS</span>
                    <p>OPERACIÓN, CONTROL, ANÁLISIS Y ELABORACIÓN DE INFORMES DE PLANTAS</p>
                    <span class="read-more">READ MORE ...</span>
                </div>
            </div>
        </div>
    </div>
</div>
