<div id="contacto" class="contenedor">
    <div class="titulo">CONTACTANOS</div>
    <form #sendEmail="ngForm" (ngSubmit)="onClickSubmit(sendEmail)" novalidate>
        <div class="row">
            <div class="col-6">
                <input type="text" name = "nombre" placeholder = "NOMBRE" ngModel required pattern="^[a-zA-z]+$" maxlength="40">
            </div>
            <div class="col-6">
                <input type="text" name="apellido" placeholder="APELLIDO" ngModel required  pattern="^[a-zA-z]+$" maxlength="40">
            </div>
        </div>
        <input type="text" name="email" placeholder="MAIL" ngModel required email maxlength="40">
        <input type="text" name="numero" placeholder="NÚMERO" ngModel required pattern="[- +()0-9]+" maxlength="40">
        <input type="text" name="asunto" placeholder="ASUNTO" ngModel required maxlength="40">
        

        <textarea type="text" name="mensaje" class="mensaje" placeholder="MENSAJE" ngModel required maxlength="500"></textarea>

        <div class="submit-container">
            <input type = "submit" value = "ENVIAR MENSAJE">
        </div>
     </form>
</div>