.contenedor {
    padding: 40px 100px 60px;
    text-align: center;
    color: #fff;
    background-color: rgba(37,33,97,255);
    text-align: -webkit-center;

    .titulo {
        font-size: 55px;
        margin-bottom: 10px;
    }

    form {
        max-width: 600px;
        input, textarea{
            width: 100%;
            font-size: 20px;
            outline: 0;
        }
    
        input[type=text], textarea {
            padding-left: 10px;
            height: 60px;
            background-color: rgba(37,33,97,255);
            color: #fff;
            border: solid 3px #fff;
            margin: 15px 0;
        }
    
        input.ng-invalid, textarea.ng-invalid{
            border: solid 2px red;
        }

        input.ng-untouched, textarea.ng-untouched{
            border-color: #fff;
        }

        .submit-container {
            text-align: right;
            input[type=submit] {
                width: 40%;
                height: 55px;
                border: solid 1px #fff;
                color: #fff;
                border-radius: 60px;
                background-color: rgba(37,33,97,255);
                transition: all 0.3s;
            }
            input[type=submit]:hover {
                background-color: #fff;
                color: rgba(37,33,97,255);
            }
        }
    
    
        .mensaje {
            height: 200px;
        }
    
        input::placeholder, textarea::placeholder {
            opacity: 0.7;
            color: #fff;
        }
    }
}

@media (max-width: 1000px){
    .contenedor{    
        padding: 40px 10%;
        .titulo {
            font-size: 45px;
        }
        form {
            .submit-container {
                text-align: right;
                input[type=submit] {
                    width: 60%;
                }
            }
        }
    }
}
