<section>
    <div class="titulo"> 
        <div>Bienvenidos a </div>
        <div>ALQUIMIA DEL SUR</div>
    </div>
    <div class="redes">
        <a class="icon" href="https://twitter.com/AlquimiadelSur" target="blank"><i class="fab fa-twitter"></i></a>
        <a class="icon" href="https://wa.me/5491164205197" target="blank"><i class="fab fa-whatsapp"></i></a>
        <a class="icon" href="https://www.linkedin.com/in/marcelo-ferral-5a221015/" target="blank"><i class="fab fa-linkedin"></i></a>
        <a class="icon" href="https://www.instagram.com/alquimia_del_sur/" target="blank"><i class="fab fa-instagram"></i></a>
        <a class="icon"  href="https://www.facebook.com/Alquimia-del-Sur-100767785428879" target="blank"><i class="fab fa-facebook-square"></i></a>
    </div>
    <div class="eslogan">
        <span>SINCRONIZANDO CON EL FLUJO DEL AGUA, LA NUTRICIÓN Y LA ENERGÍA</span>
    </div>   
    <div class="contenedor">

        <span class="titulo">PRODUCTOS</span>
        <div class="productos row">
            <div class="col-md-4 col-sm-12">
                <div class="producto">
                    <i class="icono fas fa-plus"></i>
                    <span>AGUA</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="producto">
                    <i class="icono fas fa-plus"></i>
                    <span>NUTRICIÓN: ALIMENTACIÓN Y COSMETICA</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="producto">
                    <i class="icono fas fa-plus"></i>
                    <span>PETRÓLEO</span>
                </div>
            </div>
        </div>

        <span class="titulo">EQUIPOS</span>
        <div class="equipos row">
            <div class="col-md-4 col-sm-12">
                <div class="producto">
                    <i class="icono fas fa-plus"></i>
                    <span>PLANTAS PARA TRATAMIENTOS DE EFLUENTES</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="producto">
                    <i class="icono fas fa-plus"></i>
                    <span>PLANTAS POTABILIZADORAS</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="producto">
                    <i class="icono fas fa-plus"></i>
                    <span>PLANTAS CLOACALES</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="producto">
                    <i class="icono fas fa-plus"></i>
                    <span>EQUIPOS PARA ENERGÍA FOTOVOLTÁICA</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="producto">
                    <i class="icono fas fa-plus"></i>
                    <span>FILTROS PRENSAS</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="producto">
                    <i class="icono fas fa-plus"></i>
                    <span>CENTRIFUGAS DECANTER</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 align-items-center">
                <div class="producto">
                    <i class="icono fas fa-plus"></i>
                    <span>PLANTAS PARA OSMOSIS INVERSA - DEMI - ABLANDAMIENTO DE AGUA</span>
                </div>
            </div>
        </div>
        
        <span class="titulo">SERVICIOS</span>
        <div class="servicios row">
            <div class="row col-md-6 col-sm-12">
                <div class="col-md-4 servicio">
                        <i class="icono fas fa-plus"></i>
                        <span>ASESORAMIENTO</span>
                </div>
                <div class="col-md-4 servicio">          
                        <i class="icono fas fa-plus"></i>
                        <span>CURSOS EN LÍNEA O EN COMPAÑÍA</span>
                </div>            
                <div class="col-md-4 servicio">                
                        <i class="icono fas fa-plus"></i>
                        <span>PROYECTO Y DIRECCIÓN DE OBRAS</span>
                </div>           
            </div>
            <div class="row col-md-6 col-sm-12 grande">
                <div class="col-12 servicio">                
                        <i class="icono fas fa-plus"></i>
                        <span>OPERACIÓN, CONTROL, ANÁLISIS Y ELABORACIÓN DE INFORMES DE PLANTAS QUE UTILIZAN LOS EQUIPOS OFRECIDOS O SIMILARES</span>
                </div>
            </div>
        </div>

        <span class="titulo">NOVEDADES</span>
        <div class="novedades row">
            <div class="col-md-6 col-sm-12">
                <div class="novedad">
                    <i class="icono fas fa-plus"></i>
                    <span>COVID - DESINFECCIÓN</span>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="novedad">
                    <i class="icono fas fa-plus"></i>
                    <span>SERVICIOS DE LABORATORIO</span>
                </div>
            </div>
        </div> 
    </div>
</section>