<div class="titulo">
    <i class="fas fa-tint" style="padding-right: 5px;"></i>
    <h1 style="text-align: center;">NUESTROS PRODUCTOS PARA EL AGUA</h1>
</div>
<div class="contenedor">
    <nav>
        <ul>
            <li (click)="mostrarProductos(mineria)" [ngClass]="{'active': categoriaSeleccionada?.nombre === 'Mineria'}">Mineria</li>
            <li (click)="mostrarProductos(null)">Osmosis Inversa y Resinas de Intercambio Iónico</li>
            <li>Petroleo y Petroquímica</li>
            <li>Piscinas</li>
            <li>Potabilización</li>
            <li>Torres de enfriamiento</li>
            <li>Tratamiento De Efluentes</li>
            <li>Tratamiento de generación de vapor – caldera</li>
        </ul>
    </nav>
    <div class="informacion" *ngIf=categoriaSeleccionada>
        <div class="categoria negrita">{{ categoriaSeleccionada.nombre }}</div>
        <perfect-scrollbar style="height: 500px;">
            <div *ngFor="let producto of categoriaSeleccionada.productos">
                <div class="producto">{{ producto.nombre }}</div>
                <div class="detalle">
                    <div><span class="negrita">Aplicaciones: </span>{{ producto.aplicacion }}</div>
                    <div><span class="negrita">Presentación: </span>{{ producto.presentacion }}</div>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
    <div class="informacion flex-center" style="height: 100%;" *ngIf=!categoriaSeleccionada>
        <div style="text-align: center;">
            <img src="../../../assets/imagenes/select-product.png" alt="" style="width: 150px; height: 180px;">
            <div class="negrita" style="text-align: center; font-size: 20px;">Seleccione alguna categoría</div>
        </div>
    </div>
</div>