<app-header></app-header>
<section>
    <div class="titulo"> 
        <span>Bienvedos a </span>
        <span>ALQUIMIA DEL SUR</span>
    </div>
    <div class="redes">
        <i class="icon fab fa-instagram"></i>
        <i class="icon fab fa-facebook-square"></i>
    </div>
    <div class="eslogan">
        <span>SINCRONIZANDO CON EL FLUJO DEL AGUA, LA NUTRICIÓN Y LA ENEGÍA</span>
    </div>   
    <div class="container">
        <div class="productos">
            <span class="titulo">PRODUCTOS</span>
            <div class="producto">
                <i class="icono fas fa-plus"></i>
                <span>AGUA</span> 
            </div>
            <div class="producto">
                <i class="icono fas fa-plus"></i>
                <span>NUTRICIÓN: ALIMENTACIÓN Y COSMETICA</span>
            </div>
            <div class="producto">
                <i class="icono fas fa-plus"></i>
                <span>PETRÓLEO</span>
            </div>
        </div>
        <div class="equipos">
            <span class="titulo">EQUIPOS</span>
            <div class="equipo">
                <i class="icono fas fa-plus"></i>
                <span>PLANTAS PARA TRATAMIENTOS CAPILARES</span>
            </div>
            <div class="equipo">
                <i class="icono fas fa-plus"></i>
                <span>PLANTAS POTABILIZADORAS</span>
            </div>
            <div class="equipo">
                <i class="icono fas fa-plus"></i>
                <span>PLANTAS CLUACALES</span>
            </div>
            <div class="equipo">
                <i class="icono fas fa-plus"></i>
                <span>CENTRIFUGAS DECANTER</span>
            </div>
            <div class="equipo">
                <i class="icono fas fa-plus"></i>
                <span>EQUIPOS PARA ENERGIA FOTOVOLTAICA</span>
            </div>
            <div class="equipo">
                <i class="icono fas fa-plus"></i>
                <span>FILTROS PRENSAS</span>
            </div>
            <div class="equipo">
                <i class="icono fas fa-plus"></i>
                <span>PLANTAS PARA OSMOSIS INVERSA - DEMI- ABLANDAMIENTO DE AGUA</span>
            </div>
        </div>
        <div class="servicios">
            <span class="titulo">SERVICIOS PARA EL AGUA</span>
            <div class="servicio">
                <i class="icono fas fa-plus"></i>
                <span>ASESORAMIENTO</span>
            </div>
            <div class="servicio">
                <i class="icono fas fa-plus"></i>
                <span>CURSOS EN LÍNEA O EN COMPAÑÍA</span>
            </div>
            <div class="servicio">
                <i class="icono fas fa-plus"></i>
                <span>PROYECTO Y DIRECCIÓN DE OBRAS</span>
            </div>
            <div class="servicio" style="grid-column: 1/4">
                <i class="icono fas fa-plus" style="left: -1.5%"></i>
                <span>OPERACIÓN, CONTROL, ANÁLISIS Y ELABORACIÓN DE INFORMES DE PLANTAS QUE UTILIZAN LOS EQUIPOS OFRECIDOS O SIMILARES</span>
            </div>
        </div>
        <div class="novedades">
            <div class="titulo">NOVEDADES</div>
            <div class="novedad"> 
                <i class="icono fas fa-plus"></i>
                <span>COVID - DESINFECCIÓN</span>
            </div>
            <div class="novedad">
                <i class="icono fas fa-plus"></i>
                <span>SERVICIOS DE LABORATORIO</span>
            </div>
        </div>
    </div>
</section>