<script> window.dataLayer = window.dataLayer || []; 
    function gtag(){
      dataLayer.push(arguments);
    } 
    gtag('event', 'conversion', {'send_to': 'AW-10778560458/skZfCIiGs_cCEMqPz5Mo'});
  </script>    

<div id="inicio" class="background">
    <div class="titulo">
        <div>
            <h1 class="principal col-12">MUCHAS GRACIAS POR TU MENSAJE</h1>
            <div class="redes">
                <a class="icon" href="https://twitter.com/AlquimiadelSur" target="blank"><i class="fab fa-twitter"></i></a>
                <a class="icon" href="https://wa.me/5491164205197" target="blank"><i class="fab fa-whatsapp"></i></a>
                <a class="icon" href="https://www.linkedin.com/company/71744588/admin/" target="blank"><i class="fab fa-linkedin"></i></a>
                <a class="icon" href="https://www.instagram.com/alquimia_del_sur/" target="blank"><i class="fab fa-instagram"></i></a>
                <a class="icon"  href="https://www.facebook.com/Alquimia-del-Sur-100767785428879" target="blank"><i class="fab fa-facebook-square"></i></a>
            </div>
            <div class="eslogan">
                <span>Contactaremos contigo en la brevedad</span>
            </div>   
        </div>
    </div>
</div>