nav {
    position: sticky;
    top: 0;
    z-index: 16;
    width: 100%;
    display: flex;
    color: #fff;
    font-weight: 700;
    background-color: #222;
    min-height: 70px;
       
    i {
        cursor: pointer;
        display: none;
        transition: all 0s;
    }

    i:active {
        color: rgb(50, 203, 250);;
    }

    ul {
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        padding-right: 15px;
       
        div {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            .nav-item {
                outline: 0;
                font-size: 17px;
                padding: 5px 1%;
                margin: 0 5px;
                border-bottom: 0px;
                cursor: pointer;
                transition: all 0.5s;
            }

            .nav-item:hover {
                color: rgb(50, 203, 250);
            }
        }
    }
}

@media (max-width: 767px){
    nav {
        display: block;
        i {
            display: block;
            font-size: 25px;
            padding: 25px 25px;
        }
        ul {
            display: block;
            background-color: #222;
            padding: 0;

            div {
                display: block;
                .nav-item {
                    padding: 20px 25px;
                    transition: all 0.5s;
                    margin: 0;
                }
    
                .nav-item:hover {
                    background-color: #fff;
                    color: #222;
                    border-bottom: 0px;
                }
            }
        }
    }    
}

.hideNav {
    content-visibility: hidden;
}
