nav {
    color: rgba(37,33,97,255);
    display: flex;
    background-color: #fff;

    img {
        height: 120px;
        width: 120px;
    }

    ul {
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style: none;

        .nav-item {
            font-size: 20px;
            padding-right: 3%;
        }
    }
}

