<div class="titulo">
    <i class="fa fa-leaf" style="padding-right: 5px;"></i>
    <h1 style="text-align: center;">NUESTROS PRODUCTOS PARA LA BIO COSMÉTICA NATURAL</h1>
</div>

<div (click)="toggleNav()" class="algo">
    <h1 class="menu-toggle">Categorías</h1>
    <i class="fa fa-bars" style="padding-right: 5px;"></i>
</div>

<div class="contenedor">
    <nav [@navInOut] *ngIf="hideNav">
        <ul class="categorias">
          <li>
            <div class="grupo" (click)="toggleGrupo('hidrolatos')">
              Hidrolatos
              <i [class]="gruposVisibles['hidrolatos'] ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i>
            </div>
            <ul *ngIf="gruposVisibles['hidrolatos']">
              <li 
                *ngFor="let producto of hidrolatos" 
                (click)="mostrarProductos(producto)" 
                class="sub-item"
                [ngClass]="{'active': categoriaSeleccionada?.nombre === producto.nombre}">
                {{ producto.nombre }}
              </li>
            </ul>
          </li>
      
          <li>
            <div class="grupo" (click)="toggleGrupo('aceites')">
              Aceites Esenciales
              <i [class]="gruposVisibles['aceites'] ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i>
            </div>
            <ul *ngIf="gruposVisibles['aceites']">
              <li 
                *ngFor="let producto of aceites" 
                (click)="mostrarProductos(producto)" 
                class="sub-item"
                [ngClass]="{'active': categoriaSeleccionada?.nombre === producto.nombre}">
                {{ producto.nombre }}
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    
    <div class="informacion" *ngIf=categoriaSeleccionada [@slideInOut]="categoryChange">
        <div class="categoria negrita">{{ categoriaSeleccionada.nombre }}</div>
        <div class="detalle" *ngIf=categoriaSeleccionada.descripcion>
            <div class="descripcion" [innerHTML]="categoriaSeleccionada.descripcion"></div>
            <div *ngIf=categoriaSeleccionada.presentacion>
                <div><span class="negrita">Presentación: </span></div>
                <div style="padding: 5px 0px 5px 20px; white-space: pre-line;">{{ categoriaSeleccionada.presentacion }}</div>
            </div>
            <div *ngIf=categoriaSeleccionada.cantidad>
                <div><span class="negrita">Cantidad: </span></div>
                <div style="padding: 5px 0px 5px 20px;">{{ categoriaSeleccionada.cantidad }}</div>
            </div>
        </div>
    </div>


    <div class="informacion flex-center" *ngIf=!categoriaSeleccionada>
        <div style="text-align: center;">
            <img src="assets/imagenes/select-product.png" alt="" style="width: 150px; height: 180px; opacity: 0.5;" >
            <div class="negrita" style="text-align: center; font-size: 20px; opacity: 0.5;">Seleccione alguna categoría</div>
        </div>
    </div>
</div>
