.producto {
    margin: 20px 0 15px;
    font-size: 20px; 
    width: fit-content;
    min-width: 70px;
    padding-right: 15px;
}

.detalle {
    white-space: break-spaces;
}

.negrita {
    font-weight: 700;
}